### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
total_players=len(purchase_data["SN"].unique())
total_players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [24]:
unique_items = len(purchase_data["Item ID"].unique())
unique_items
average_price = purchase_data["Price"].mean()
average_price
number_of_purchases = purchase_data["Item Name"].count()
number_of_purchases
purchase_data.dtypes
total_revenue = round(average_price * number_of_purchases.astype(float),2)
total_revenue
summary_df = pd.DataFrame({"Number of Unique Items": [unique_items],
                          "Average Price": [average_price],
                           "Number of Purchases": [number_of_purchases],
                           " Total Revenue": [total_revenue]
                           })
summary_df.style.format({"Average Price":"${:,.2f}", "Total Revenue":"${:,.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [23]:
gendergroup = purchase_data.groupby("Gender")
gender_count = gendergroup.nunique()["SN"]
gender_count
percentage = gender_count / total_players * 100
percentage
gendersummary_df = pd.DataFrame({"Total Count": gender_count,
                                  "Percentage of Players": percentage})
gendersummary_df.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
purchase_count = gendergroup["Purchase ID"].count()
purchase_count
avg_purchase_price = gendergroup["Price"].mean()
avg_purchase_price
total_purchase_value = purchase_count * avg_purchase_price
total_purchase_value
avg_total_purch_per_person = total_purchase_value / gender_count
avg_total_purch_per_person
purchase_summary_df = pd.DataFrame({"Purchase Count": purchase_count,
                                  "Average Purchase Price": avg_purchase_price,
                                   "Total Purchase Value": total_purchase_value,
                                    "Average Total Purchase per Person": avg_total_purch_per_person 
                                   })
purchase_summary_df.style.format({"Average Purchase Price":"${:,.2f}", "Total Purchase Value":"${:,.2f}", 
                                  "Average Total Purchase per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [25]:
# Create the bins in which Data will be held
# Bins are 10, 14, 19, 24, 29, 34, 39, 40.   
bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data["Age Groups"] = pd.cut(purchase_data["Age"], bins, labels=group_names, include_lowest=True)
age_groups = purchase_data.groupby("Age Groups")
age_groups.head()

age_group_count = age_groups["SN"].nunique()


pct_age_group = age_group_count / total_players * 100
demographics_df = pd.DataFrame({"Total Count": age_group_count,
                                "Percentage of Players": pct_age_group 
                                })
demographics_df.index.name = None
demographics_df.style.format({"Percentage of Players":"{:,.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame